@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-text-secondary) var(--color-background);
    border-radius: 10px;
}

*::-webkit-scrollbar {
    width: 6px;

}

*::-webkit-scrollbar-track {
    background: var(--color-background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-background);
    border-radius: 10px;
    border: 2px solid var(--color-border);
}

@layer base {

    :root {
        --color-text-primary: #2d3748;
        --color-text-secondary: #4a5568;
        --color-text-accent: #805ad5;
        --color-text-neutral: #718096;
        --color-text-danger: #e53e3e;
        --color-text-success: #00ea6d;

        --color-background: #f7fafc;
        --color-secondary-background: #edf2f7;
        --color-accent-background: #f6e05e;
        --color-danger-background: #feb2b2;
        --color-success-background: #c6f6d5;

        --color-border: #e2e8f0;
        --color-accent-border: #805ad5;
        --color-danger-border: #e53e3e;
        --color-success-border: #38a169;

        --shadow-primary: #0000001a;
        --shadow-secondary: #0000000d;
        --shadow-accent: #805ad533;
        --shadow-neutral: #71809633;
        --shadow-danger: #e53e3e4d;
        --shadow-success: #38a1694d;
    }

    .theme-dark {
        --color-text-primary: #f7fafc;
        --color-text-secondary: #edf2f7;
        --color-text-accent: #4299e1;
        --color-text-neutral: #cbd5e0;
        --color-text-danger: #fc8181;
        --color-text-success: #68d391;

        --color-background: #1a202c;
        --color-secondary-background: #2d3748;
        --color-accent-background: #4a5568;
        --color-danger-background: #4a5568;
        --color-success-background: #2d3748;

        --color-border: #2d3748;
        --color-accent-border: #4299e1;
        --color-danger-border: #fc8181;
        --color-success-border: #68d391;

        --shadow-primary: #00000033;
        --shadow-secondary: #0000001a;
        --shadow-accent: #4299e133;
        --shadow-neutral: #cbd5e033;
        --shadow-danger: #fc818133;
        --shadow-success: #68d39133;
    }
}



@layer utilities {
    .flexIc {
        @apply flex items-center
    }

    .flexCCWf {
        @apply flex justify-center items-center w-full
    }

    .flexCC {
        @apply flex justify-center items-center
    }

    .flexSbIc {
        @apply flex justify-between items-center
    }

    .flexC {
        @apply flex justify-center
    }

    .searchBorder {
        clip-path: polygon(49% 50%, 0 0, 100% 0);
    }

    .animate-scale {
        animation: scale 0.5s ease-in-out;
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}